<footer>
    <hr>
    <a href="https://github.com/isteiger">GitHub</a> |
    <a href="https://webpages.charlotte.edu/isteiger">CLT Web</a> |
    <a href="https://isteiger.github.io/">GitHub.io</a> |
    <a href="https://itis3135react.isteiger.com/">ITIS3135@Vercel</a> |
    <a href="https://www.freecodecamp.org/isteiger">freeCodeCamp</a> |
    <a href="https://www.linkedin.com/in/isteiger">LinkedIn</a>
    <p>Page designed by <a href="isteigerdesign.com/index.html">isteigerDesign</a>, certified in <a href="https://www.freecodecamp.org/certification/isteigerclt/responsive-web-design-v9">Responsive Web Design</a></p>
</footer>